<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @name %>, this is Eric Dell'aringa. Welcome to my site! </h1>
    <p>Thanks for stopping by and leaving a message.  I'll get back to you with a response as soon as I can.  Have an awesome day!</p>
    <p>
      Subject: <%= @Subject %>.
    </p>
    <p>
      <%= @message %><br>
    </p>
  </body>
</html>